/*
!/.gitignore
!/.zshrc*
!/.config
/.config/*
!/.config/cava
!/.config/fish
!/.config/hypr
!/.config/kitty
!/.config/nvim
!/.config/river
!/.config/sway
!/.config/waybar
!/.config/fastfetch
!/.config/ncspot
/.config/ncspot/*
!/.config/ncspot/config.toml

!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/fastfetch
!/.local/share/applications
/.local/share/applications/*
!/.local/share/applications/kitty.desktop
!/.local/share/applications/chromium.desktop

!/.doom.d
