/*
!/.gitignore
!/.zshrc*
!/.config
/.config/*
!/.config/cava
!/.config/eww
!/.config/fish
!/.config/hypr
!/.config/kitty
!/.config/nvim
!/.config/river
!/.config/sway
!/.config/waybar
!/.config/fastfetch

!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/fastfetch
!/.local/share/applications
/.local/share/applications/*
!/.local/share/applications/kitty.desktop
