*{
  all: unset;
}
window {
  background-color: #1E1E2E;
  color: #cdd6f4;
  font-family: Iosevka Nerd Font;
  border: 5px solid #24273A;
  border-radius: 16px;
}

button {
  all: unset;
  // background-color: #12151D;
  padding: 10px;
}

.musicart {
  background-size: 260px;
  min-height: 260px;
  min-width: 260px;
  margin: 20px;
  border-radius: 10px;
  // padding: 10px;
}

.musictitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.musicartist {
  font-size: 15px;
  margin-bottom: 10px;
}

.musicbtn button {
  font-size: 12px;
}

.musicbtn button:hover {
  color: #E06C75;
}

.number_day {
  padding-top: 10px;
  font-size: 35px;
  color: #f38ba8;
}

.month {
  font-weight: bold;
  // color: #C678DD;
}

.musicstuff-side {
  padding-left: 15px;
}
.musicart-side {
  min-height: 70px;
  padding-left: 15px;
}
.musicinfo-side {
  font-size: 15px;
  margin-top: 25px;
  margin-left: 5px;
  font-weight: bold;
  // margin: 20px;
  border-radius: 10px;
  // border: 1px solid white;
  min-width: 40px;
}
.musicbtn-side {
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 5px;
}
.musicbtn-side button {
  font-size: 16px;
  padding-right: 30px;
}

.musicbtn-side button:hover {
  color: #E06C75;
}
.pause-play-side {
  color: #E06C75;
}
.pause-play-side:hover {
  color: #d19a66;
}

.time-side {
  margin: 20px 65px 0px 65px;
  font-size: 60px;
}
.minute-side {
  color: #f38ba8;
}
.day-side {
  font-size: 16px;
  font-weight: bold;
  color: #a6e3a1;
}





.sysbtn button {
  font-size: 30px;
}
.shutdown-side ~ button:hover {
  color: #f5c2e7;
}
.shutdown-side{
  color: #f38ba8;
}
.shutdown-side:hover{
  color: #f5c2e7;
}
.reboot-side{
  color: #74c7ec;
}
.lock-side{
  color: #fab387;
}
.suspend-side{
  color: #b4befe;
}
.logout-side{
  color: 	#a6e3a1;
}

.pfp-image {
  background-image: url('images/profile.png');
  background-repeat: no-repeat;
	background-size: 48px;
	min-height: 48px;
	min-width: 48px;
}

.quote-box {
  margin: 10px;
}


