@import "mocha.css";
* {
    border: none;
    font-family: DejaVuSansMono Nerd Font, sans-serif;
    font-size: 13px;
  }
  
  window#waybar {
    /* background-color: rgba(18, 21, 29, 0.98); */
    background-color: @base;
    /* background-color: rgba(0, 0, 0, 0); */
    border-bottom: 0px;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.9;
  }
  
  window#waybar.hidden {
    opacity: 0.2;
  }
  
  #workspaces,
  #tags,
  #mode,
  #cpu,
  #memory,
  #temperature,
  #custom-media,
  #custom-fans,
  #clock,
  #idle_inhibitor,
  #language,
  #pulseaudio,
  #backlight,
  #battery,
  #network,
  #tray {
    background-color: @surface0;
    margin: 2px 4px 5px 4px;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 90px;
    background-clip: padding-box;
  }


  #mode,
  #cpu,
  #memory,
  #temperature,
  #custom-media,
  #custom-fans,
  #clock,
  #idle_inhibitor,
  #language,
  #pulseaudio,
  #backlight,
  #battery,
  #network,
  #tray {
    padding: 0 10px;
  }
  #workspaces,
  #tags {
    padding: 0 0px;
  }

  #tags button,
  #workspaces button {
    padding: 0 5px;
    min-width: 20px;
    color: @text;
    border-radius: 90px;
  }
  
  #tags button:hover,
  #workspaces button:hover {
    background-color: @surface1;
  }
  
  #tags button.focused,
  #workspaces button.active,
  #workspaces button.focused {
    padding: 0 10px;
    background-color: @mauve;
    color: @surface0;
  }

  #tags button.urgent,
  #workspaces button.urgent {
    color: @red;
  }
  
  #cpu {
    color: @blue;
  }
  
  #memory {
    color: @mauve;
  }
  
  #temperature {
    color: @peach;
  }
  
  #temperature.critical {
    background-color: #e06c75;
    color: #1e222a;
  }
  
  #custom-media {
    background-color: #ca9ee6;
    color: #1e222a;
  }
  
  #custom-fans {
    color: #A6E3A1;
  }
  
  #clock {
    color: @sky;
  }
  
  #idle_inhibitor {
    color: #abb2bf;
  }
  
  #idle_inhibitor.activated {
    background-color: #abb2bf;
    color: #1e222a;
  }
  
  #language {
    color: #56b6c2;
  }
  
  #pulseaudio {
    color: @yellow;
  }
  
  #pulseaudio.muted {
    background-color: @red;
    color: @surface0;
  }
  
  #backlight {
    color: #89B4FA;
  }
  
  #battery {
    color: @green;
  }
  
  #battery.charging, #battery.plugged {
    background-color: @green;
    color: @surface0;
  }
  
  @keyframes blink {
      to {
          background-color: @surface0;
          color: @red;
      }
  }
  
  #battery.critical:not(.charging) {
      background-color: @red;
      color: @surface0;
      animation-name: blink;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
  
  #network {
      color: @rosewater;
  }
  
  #network.disconnected {
      background-color: @red;
      color: @surface0;
  }
